.header-dropdown {
    ul {
        @apply: bg-gray-100;

        li {
            &:hover {
                @apply: bg-gray-500;
            }
        }
    }
}

.dark {
    .header-dropdown {
        ul {
            @apply: bg-gray-900;

            li {
                &:hover {
                    @apply: bg-gray-500;
                }
            }
        }
    }
}