/* tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './post.styl'

:root {
  --header-height: 3.75rem;
  --footer-height: 1.5rem;
  --main-height: calc(100vh - (var(--header-height) + var(--footer-height)));
  --transition-duration: 0.5s;
}

* {
  transition-duration: var(--transition-duration);
  transition-property: background-color, color;
}

html,
body {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  @apply: antialiased bg-primary-100 text-text-900;       
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height); 
}

.dark body {
  @apply: bg-primary-900 text-text-50;
}

@media (min-width: 640px) {
  body {
    @apply: subpixel-antialiased;
  }  
}

@media (min-width: 768px) {
  body {
    @apply: antialiased; 
  } 
}

.dark ul.pagination,
.dark ul.pagination li,
.dark ul.pagination li a {
  @apply: bg-black;
}

.dark ul.pagination li.active a {
  @apply: bg-gray-500;
}

.dark ul.pagination li.disabled a {
  @apply: text-gray-700;
}

.dark ul.pagination li.disabled a:hover {
  @apply: bg-black;
}