/* tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3.25rem;
  --main-height: calc(100vh - 4.75rem);
  --footer-height: 1.5rem;
  --transition-duration: 0.5s;
}

* {
  transition-duration: var(--transition-duration);
  transition-property: background-color, color;
}

html,
body {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  @apply: antialiased;       
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height); 
}

@media (min-width: 640px) {
  body {
    @apply: subpixel-antialiased;
  }  
}

@media (min-width: 768px) {
  body {
    @apply: antialiased; 
  } 
}

.dark #pagination a {
  @apply: bg-black;
}

.dark #pagination li.active a {
  @apply: bg-gray-500;
}

.dark #pagination li.disabled a {
  @apply: text-black;
}