.dark ul.pagination,
.dark ul.pagination li,
.dark ul.pagination li a {
  @apply: bg-black;
}

.dark ul.pagination li.active a {
  @apply: bg-gray-500;
}

.dark ul.pagination li.disabled a {
  @apply: text-gray-700;
}

.dark ul.pagination li.disabled a:hover {
  @apply: bg-black;
}