.content__default {
    h1 {
        @apply: font-black text-6xl;
    }

    h2 {
        @apply: font-extrabold text-5xl;
    }

    h3 {
        @apply: font-extrabold text-4xl;
    }

    h4 {
        @apply: font-bold text-3xl;
    }

    h5 {
        @apply: font-bold text-2xl;
    }

    h6 {
        @apply: font-semibold text-xl;
    }

    :is(h1, h2, h3, h4, h5, h6) a {
        @apply: font-light text-gray-50 text-opacity-0;

        &:hover {
            @apply: text-gray-900 text-opacity-100;
        }
    }

    p {
        @apply: my-2 font-medium text-lg;
        text-indent: 1rem;
    }

    img[src*='#center'] {
        margin: 0 auto;
    }

    img[src*='#float-left'] {
        @apply: float-left mr-4;
    }

    img[src*='#float-right'] {
        @apply: float-right ml-4;
    }
}

.dark {
    .content__default {
        :is(h1, h2, h3, h4, h5, h6) a {
            @apply: text-gray-900 text-opacity-0;

            &:hover {
                @apply: text-gray-50 text-opacity-100;
            }
        }
    }
}
