@font-face {
   font-family: forty-two;
   src: url('~@fonts/42/42.ttf');
   font-display: swap;
}

.font-forty-two {
    font-family: forty-two, Helvetica, Arial, sans-serif;
}

@font-face {
   font-family: pompiere-regular;
   src: url('~@fonts/pompiere/Pompiere-Regular.ttf');
   font-display: swap;
}

.font-pompiere-regular {
    font-family: pompiere-regular, Helvetica, Arial, sans-serif;
}

@font-face {
   font-family: life-savers-regular;
   src: url('~@fonts/life-savers/LifeSavers-Regular.ttf');
   font-display: swap;
}

.font-life-savers-regular {
    font-family: life-savers-regular, Helvetica, Arial, sans-serif;
}

@font-face {
   font-family: life-savers-bold;
   src: url('~@fonts/life-savers/LifeSavers-Bold.ttf');
   font-display: swap;
}

.font-life-savers-bold {
    font-family: life-savers-bold, Helvetica, Arial, sans-serif;
}

@font-face {
   font-family: life-savers-extra-bold;
   src: url('~@fonts/life-savers/LifeSavers-ExtraBold.ttf');
   font-display: swap;
}

.font-life-savers-extra-bold {
    font-family: life-savers-extra-bold, Helvetica, Arial, sans-serif;
}