@import './fonts.styl';

:root {
  --header-height: 7rem;
}

#app {
  @apply: font-forty-two;
}
/* */
#app::before {       
  /*background-image: url('~@theme/assets/background_vanilla.svg');*/
}
/* */
#global-header {
    @apply: font-pompiere-regular;
}
/* */
.header-dropdown {
    button {
        @apply: text-xl;
    }

    ul {
        @apply: bg-secondary-400 font-life-savers-bold;

        li:hover {
            @apply: bg-primary-500;
        }
    }
}
.dark {
    .header-dropdown {
        ul {
            @apply: bg-primary-600;

            li {
                &:hover {
                    @apply: bg-secondary-500 text-gray-500;
                }
            }
        }
    }
}
/* */
.social-bar-item {
    svg {
        @apply: h-6 w-6 rounded-full;
    }
}
/* */
.page-card {
    @apply: bg-primary-300 bg-opacity-90 text-text-700 font-life-savers-bold;
}
.dark {
    .page-card {
        @apply: bg-primary-700 bg-opacity-90 text-text-300
    }
}
/* */
.tag-pill {
    @apply: bg-accent-500 text-text-200
}
.dark {
    .tag-pill {
        @apply: bg-accent-500 text-text-200
    }
}
/* */
.content__default {
    @apply: font-life-savers-regular;

    :is(h1, h2, h3, h4, h5, h6) {
        @apply: font-pompiere-regular;
    }
}