@import './fonts.styl';

:root {
    --header-height: 7rem;
}

#app {
    @apply: font-forty-two;
}

/*  */
#global-header {
    @apply: font-pompiere-regular;

    #site-title {
        visibility: hidden;
    }
}

/*  */
.header-dropdown {
    button {
        @apply: text-xl;
    }

    ul {
        @apply: bg-secondary-400 font-life-savers-bold;

        li:hover {
            @apply: bg-primary-500;
        }
    }
}

.dark {
    .header-dropdown {
        ul {
            @apply: bg-primary-600;

            li {
                &:hover {
                    @apply: bg-secondary-500 text-gray-500;
                }
            }
        }
    }
}

/*  */
.social-bar-item {
    svg {
        @apply: h-6 w-6 rounded-full;
    }
}

/*  */
.page-card {
    @apply: bg-primary-300 bg-opacity-90 text-text-700 font-life-savers-bold;
}

.dark {
    .page-card {
        @apply: bg-primary-700 bg-opacity-90 text-text-300;
    }
}

/*  */
.tag-pill {
    @apply: bg-accent-500 text-text-200;
}

.dark {
    .tag-pill {
        @apply: bg-accent-500 text-text-200;
    }
}

/*  */
#recipe-card {
    .content__default {
        h1 {
            @apply: text-center;
        }
    }
}

/*  */
.content__default {
    @apply: font-life-savers-regular;

    for i in 1 .. 6 {
        h{i} {
            @apply: font-pompiere-regular;
        }
    }
}

/*  */
#cookie-banner {
    @apply: font-pompiere-regular text-xl font-semibold;

    a {
        @apply: underline text-primary-900;
    }

    #cookie-action-bar {
        button {
            &::after {
                content: ' Coookies';
            }
        }
    }
}