i.facebook-square-color {
    background: url('~@icons/facebook-square-color.svg'); /* https://uxwing.com */
    background-repeat: no-repeat;
    background-size: contain;
}

i.instagram-square-color {
    background: url('~@icons/instagram-square-color.svg'); /* https://uxwing.com */
    background-repeat: no-repeat;
    background-size: contain;
}