@import './icons.styl'
/* Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700,900&display=swap');

body {       
  background: url('~@assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#app {
  font-family: Inter, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.forgotten-pepper {
  background: url('~@assets/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}