@import './icons.styl'
/* Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700,900&display=swap');

body {       
  background-image: url('~@assets/background_vanilla.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#app {
  font-family: Inter, Helvetica, Arial, sans-serif;
}

.forgotten-pepper {
  background: url('~@assets/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}